ul {
  line-height: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 300px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.content {
  max-width: 600px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
